@font-face {
    font-family: "Amsterdam Four";
    src: url('Amsterdam Four_ttf_400.ttf');
    src: url('Amsterdam Four_ttf_400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body
{
    background-color: #ffffff;
}

/* Scrollbar */
::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-track
{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb
{
    background-color: #f78da7;
    border-radius: 0px;
}


header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #ffffff;*/
    transition: 0.5s;
    z-index: 1000;
    background-color: #fff;
}

header.sticky
{
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header .logo
{
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2em;
    font-weight: 300;
    font-family: "Amsterdam Four", sans-serif;
    white-space: nowrap;
}

header .nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin: 10px;
}

header ul li a
{
    color: #f78da7;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    white-space: nowrap;
}

header ul li a:hover
{
    background: #f78da7;
    color: #ffffff;
    box-shadow: 0 0 10px #f78da7;
    border-radius: 50px;
}

header .action .searchBx
{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}

header .action .searchBx ::placeholder
{
    color: #626262;
}

header .action .searchBx i
{
    font-size: 2em;
    margin: 5px;
    color: #f78da7;
}


header .action .searchBx input
{
    outline: none;
    border: none;
    font-size: 1em;
    color: #f78da7;
    text-decoration: underline;
    text-underline-offset: 5px;
    background-color: transparent;
}