@font-face {
    font-family: "Amsterdam Four";
    src: url('Amsterdam Four_ttf_400.ttf');
    src: url('Amsterdam Four_ttf_400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body
{
    background-color: #ffffff;
}

/* Scrollbar */
::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-track
{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb
{
    background-color: #f78da7;
    border-radius: 0px;
}

#progresss
{
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    right:10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 20px #f78da7;
    z-index: 2;
}
#progresss-value
{
    cursor: pointer;
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #f78da7;
    z-index: 2;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #ffffff;*/
    transition: 0.5s;
    z-index: 1000;
    background-color: #fff;
}

header.sticky
{
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header .logo
{
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2em;
    font-weight: 300;
    font-family: "Amsterdam Four", sans-serif;
    white-space: nowrap;
}

header .nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin: 10px;
}

header ul li a
{
    color: #f78da7;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    white-space: nowrap;
}

header ul li a:hover
{
    background: #f78da7;
    color: #ffffff;
    box-shadow: 0 0 10px #f78da7;
    border-radius: 50px;
}

header .action .searchBx
{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}

header .action .searchBx ::placeholder
{
    color: #626262;
}

header .action .searchBx i
{
    font-size: 2em;
    margin: 5px;
    color: #f78da7;
}


header .action .searchBx input
{
    outline: none;
    border: none;
    font-size: 1em;
    color: #f78da7;
    text-decoration: underline;
    text-underline-offset: 5px;
    background-color: transparent;
}

/* Home Banner */

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.banner .bg
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg .content
{
    width: 50%;
    height: 100%;
}

.banner .bg .content h2
{
    font-size: 3em;
    color: #000000;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}

.banner .bg .content p
{
    font-size: 1em;
    color: #000000;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.banner .bg .content a
{
    display: inline-block;
    padding: 17px 30px;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    height: 60px;
    color: #f78da7;
    background-color: #fff;
    border: 1px solid #f78da7;
    letter-spacing: 1px;
    transition: all .3s ease-in-out 0s;
    font-family: 'Poppins', sans-serif;
}

.banner .bg .content a:hover
{
    padding: 17px 30px;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;
    height: 60px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #f78da7;
    box-shadow: 0 0 20px #f78da7;
    border: 1px solid #f78da7;
    transition: all .3s ease-in-out 0s;
    font-family: 'Poppins', sans-serif;
}

.banner .bg img
{
    width: 600px;
}



/* Privacy Section */

.privacy
{
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.privacy .contentBx
{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
}

.privacy .contentBx h1
{
    font-size: 2.5em;
    font-weight: 500;
    color: #f78da7;
    margin-bottom: 5px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.privacy .contentBx h2
{
    font-size: 1.2em;
    font-weight: normal;
    color: #f78da7;
    margin-bottom: 5px;
    margin-top: 80px;
}

.privacy .contentBx hr
{
    border: 0.5px solid #f78da7;
    border-radius: 0px;
}

.privacy .contentBx .info
{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.privacy .contentBx .info li
{
    margin-left: 65px;
}

.privacy .contentBx a
{
    padding: 17px 30px;
    margin: 60px 0;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    height: 60px;
    color: #f78da7;
    background-color: #fff;
    border: 1px solid #f78da7;
    letter-spacing: 1px;
    transition: all .3s ease-in-out 0s;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.privacy .contentBx a:hover
{
    padding: 17px 30px;
    margin: 60px 0;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    height: 60px;
    color: #fff;
    background-color: #f78da7;
    border: 1px solid #f78da7;
    letter-spacing: 1px;
    transition: all .3s ease-in-out 0s;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

/* Footer Section */

footer
{
    padding: 10px 100px;
    transition: 0.5s;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

footer .info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info .logo
{
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2em;
    font-weight: 300;
    font-family: "Amsterdam Four", sans-serif;
    white-space: nowrap;
}

footer .info p
{
    color:  rgb(0, 0, 0);
}

footer .info ul
{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .info ul li
{
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f78da7;
    cursor: pointer;
}

footer .info ul li:hover
{
    background-color: #f78da7;
    border: none;
    box-shadow: 0 0 10px #f78da7;
    transform: scale(1.25);
    transition-duration: 0.5s;
    cursor: pointer;
}

footer .info ul li a i
{
    font-size: 1.5em;
    color:#f78da7;
}

footer .info ul li:hover a i
{
    color: #fff;
}

.animeP
{
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: all 2s ease;
}
.animeP.active
{
    transform: translateY(100px);
    opacity: 1;
}

/* Responsive Design */

@media (max-width: 991px)
{

    /* Scroll to top */
    #progresss
    {
        cursor: pointer;
        position: fixed;
        bottom: 170px;
        right:10px;
        height: 50px;
        width: 50px;
        display: none;
        place-items: center;
        border-radius: 50%;
        box-shadow: 0 0 20px #f78da7;
        z-index: 2;
    }
    #progresss-value
    {
        cursor: pointer;
        display: block;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        background-color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 35px;
        color: #f78da7;
        z-index: 2;
    }
    #progresss-value i
    {
        font-size: 7vw;
    }

    /* Header Section */
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5vw 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        z-index: 1000;
        background-color: #fff;
    }
    header .logo
    {
        position: relative;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 4vw;
        font-weight: 300;
        font-family: "Amsterdam Four", sans-serif;
        white-space: nowrap;
    }
    header .nav
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #fff;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
    }
    header .nav.active
    {
        display: flex;
    }
    header .nav li
    {
        margin: 20px 0;
    }
    header .nav li a
    {
        font-size: 24px;
        margin: 10px 0;
    }
    header .action .searchBx
    {
        padding: 1vw;
        margin: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 5px;
    }
    header .action .searchBx ::placeholder
    {
        color: #626262;
    }

    header .action .searchBx i
    {
        font-size: 5vw;
        margin: 5px;
        color: #f78da7;
    }

    header .action .searchBx input
    {
        outline: none;
        border: none;
        font-size: 3vw;
        color: #f78da7;
        background-color: transparent;
        text-decoration: underline;
        text-underline-offset: 5px;
    }
    .toggleMenu
    {
        position: relative;
        width: 50px;
        height: 50px;
        background-image: url(menu.png);
        background-position: center;
        background-size: 6vw;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1001;
    }
    .toggleMenu.active
    {
        background-image: url(close.png);
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6vw;
        cursor: pointer;
    }

    /* Banner Sections */
    .banner
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 75vh;
        padding: 0px 5vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner .bg img
    {
        position: absolute;
        width: 70vw;
        height: auto;
        margin-bottom: 65vw;
        margin-top: 20vw;
    }
    .banner .bg .content
    {
        width: 100%;
        height: 100%;
        background-color: none;
        padding: 20px;
        z-index: 1;
        border-radius: 10px;
    }
    .banner .bg .content h2 {
        font-size: 5vw;
        color: #000000;
        letter-spacing: 1px;
        font-weight: 300;
        font-family: Poppins;
        white-space: nowrap;
        text-align: center;
        margin-top: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner .bg .content p {
        font-size: 2vw;
        color: #000000;
        letter-spacing: 1px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
    }
    .banner .bg .content a {
        font-size: 3vw;
        padding: 3vw 5vw;
        margin: 20px auto;
        text-decoration: none;
        font-weight: 300;
        border-radius: 50px;
        height: auto;
        color: #f78da7;
        background-color: #fff;
        border: 1px solid #f78da7;
        letter-spacing: 1px;
        transition: all .3s ease-in-out 0s;
        white-space: nowrap;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner .bg .content a:hover
    {
        font-size: 3vw;
        padding: 3vw 5vw;
        margin: 20px auto;
        text-decoration: none;
        font-weight: 300;
        border-radius: 50px;
        height: auto;
        color: #fff;
        background-color: #f78da7;
        letter-spacing: 1px;
        transition: all .3s ease-in-out 0s;
        white-space: nowrap;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Main Privacy Policy */
    .privacy
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 75vh;
        padding: 0px 10vw;
        justify-content: space-between;
        align-items: center;
        text-align: justify;
    }
    .privacy .contentBx
    {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .privacy .contentBx h1
    {
        font-size: 5vw;
        font-weight: 500;
    }
    .privacy .contentBx h2
    {
        font-size: 4vw;
        margin-bottom: 1vw;
        margin-top: 10vw;
    }
    .privacy .contentBx .info
    {
        font-size: 4vw;
    }
    .privacy .contentBx .info li
    {
        margin-left: 5vw;
    }
 
    .privacy .contentBx a {
        font-size: 3vw;
        padding: 3vw 5vw;
        margin: 20px auto;
        text-decoration: none;
        font-weight: 300;
        border-radius: 50px;
        height: auto;
        color: #f78da7;
        background-color: #fff;
        border: 1px solid #f78da7;
        letter-spacing: 1px;
        transition: all .3s ease-in-out 0s;
        white-space: nowrap;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .privacy .contentBx a:hover
    {
        font-size: 3vw;
        padding: 3vw 5vw;
        margin: 20px auto;
        text-decoration: none;
        font-weight: 300;
        border-radius: 50px;
        height: auto;
        color: #fff;
        background-color: #f78da7;
        letter-spacing: 1px;
        transition: all .3s ease-in-out 0s;
        white-space: nowrap;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Footer Section */

    footer .info
    {
        flex-direction: column;
    }
    footer .info .logo
    {
        white-space: nowrap;
        font-size: 4vw;
    }
    footer .info p
    {
        white-space: nowrap;
        font-size: 2vw;
    }
    footer .info ul
    {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .info ul li
    {
        list-style: none;
        height: 10vw;
        width: 10vw;
        margin: 3vw 3vw;
        border-radius: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f78da7;
        cursor: pointer;
    }

    footer .info ul li:hover
    {
        background-color: #f78da7;
        border: none;
        height: 10vw;
        width: 10vw;
        border-radius: 50vw;
        box-shadow: 0 0 10px #f78da7;
        transform: scale(1.25);
        transition-duration: 0.5s;
        cursor: pointer;
    }

    footer .info ul li a i
    {
        font-size: 5vw;
        color:#f78da7;
        display:inline-block;
        list-style: none;
        text-decoration: none;
    }

    footer .info ul li:hover a i
    {
        font-size: 5vw;
        color: #fff;
        display:inline-block;
        list-style: none;
    }
}
