@font-face {
    font-family: "Amsterdam Four";
    src: url('Amsterdam Four_ttf_400.ttf');
    src: url('Amsterdam Four_ttf_400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #ffffff;
}

/* Scrollbar */
::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-track
{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb
{
    background-color: #f78da7;
    border-radius: 0px;
}


header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #ffffff;*/
    transition: 0.5s;
    z-index: 1000;
}

header.sticky
{
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header .logo
{
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2em;
    font-weight: 300;
    font-family: "Amsterdam Four", sans-serif;
    white-space: nowrap;
}

header .nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin: 10px;
}

header ul li a
{
    color: #f78da7;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

header ul li a:hover
{
    background: #f78da7;
    color: #ffffff;
    box-shadow: 0 0 10px #f78da7;
    border-radius: 50px;
}

header .action .searchBx
{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}

header .action .searchBx ::placeholder
{
    color: #626262;
}

header .action .searchBx i
{
    font-size: 2em;
    margin: 5px;
    color: #f78da7;
}


header .action .searchBx input
{
    outline: none;
    border: none;
    font-size: 1em;
    color: #f78da7;
    text-decoration: underline;
    text-underline-offset: 5px;
}


/* Home Banner */

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.banner .bg
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg .content
{
    width: 50%;
    height: 100%;
}

.banner .bg .content h2
{
    font-size: 3em;
    color: #000000;
    letter-spacing: 1px;
    font-weight: 300;
}

.banner .bg .content p
{
    font-size: 1em;
    color: #000000;
    letter-spacing: 1px;
}

.banner .bg .content a
{
    display: inline-block;
    padding: 17px 30px;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    height: 60px;
    color: #fff;
    background-color: #f78da7;
    letter-spacing: 1px;
    white-space: nowrap;
}

.banner .bg .content a:hover
{
    padding: 17px 30px;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;
    height: 60px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #f78da7;
    box-shadow: 0 0 20px #f78da7;
    white-space: nowrap;
}

.banner .bg img
{
    width: 600px;
}



/* About Section */

.about
{
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .contentBx
{
    width: 50%;
    margin: 20px;
}

.about .contentBx h2
{
    font-size: 3em;
    font-weight: 700;
    color: black;
}

.about .contentBx p
{
    max-width: 600px;
    text-align: justify;
    color: black;
}

.about .contentBx a
{
    display: inline-block;
    padding: 17px 30px;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    height: 60px;
    color: #fff;
    background-color: #f78da7;
    letter-spacing: 1px;
}

.about .contentBx a:hover
{
    padding: 17px 30px;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;
    height: 60px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #f78da7;
    box-shadow: 0 0 20px #f78da7;
}

.about img
{
    width: 600px;
}



/* Games */
.games
{
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

.games h2
{
    color: rgb(0, 0, 0);
    margin: 10px 0;
}

.games ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.games ul li
{
    list-style: none;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: black;
}

.games ul li.active
{
    background-color: #f78da7;
    color: white;
    box-shadow: 0 0 10px #f78da7;
}

.games .cardBx
{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.games .cardBx .card
{
    width: 280px;
    border-radius: 25px;
    margin: 20px 40px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0 0 10px #0000005d;
}

.games .cardBx .card img
{
    width: 100%;
    height: 250px;
    object-fit:cover;
}

.games .cardBx .card .content
{
    padding: 10px;
}

.games .cardBx .card .content h4
{
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin: 15px 0;
    text-align: center;
}

.games .cardBx .card .progress-line
{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f78da7;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.games .cardBx .card .progress-line span
{
    position: relative;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #f78da7;
    box-shadow: 0 0 10px #f78da7;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate
{
    100%
    {
        transform: scaleX(1);
    }
}

.games .cardBx .card .info
{
    border-top: 2px solid #ff245b;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games .cardBx .card .info p
{
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.games .cardBx .card .info p span
{
    color: #f78da7;
}

.games .cardBx .card .info a
{
    display: inline-block;
    padding: 17px 30px;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    height: 60px;
    color: #fff;
    background-color: #f78da7;
    letter-spacing: 1px;
}

.games .cardBx .card .info  a:hover
{
    padding: 17px 30px;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;
    height: 60px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #f78da7;
    box-shadow: 0 0 20px #f78da7;
}

.games .cardBx .card.hide
{
    display: none;
}

.contact
{
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img
{
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.contact .form
{
    width: 50%;
    margin: 30px;
}

.contact .form h1
{
    color: #f78da7;
}

.contact .form .inputBx
{
    margin: 10px 0;
}

.contact .form .inputBx p
{
    color: #ff245b;
}

.contact .form .inputBx input,
.contact .form .inputBx textarea
{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #f78da848;
    min-height: 15px;
    font-size: 1.1em;

}

.contact .form .inputBx textarea
{
    height: 150px;
}

.contact .form .inputBx input[type="submit"]
{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background-color: transparent;
    border: 1px solid #f78da7;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
    border-radius: 50px;
    color: #ff245b;
    letter-spacing: 1px;

}
